.title {
    font-size: 2rem;
    text-align: center;
    color: var(--color-1);
    margin: 1.5rem 0 0.5rem;
}

.title .query-text {
    color: var(--color-1);
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;
}

.genre-select {
    color: var(--color-1);
    background-color: var(--color-2);
    font-size: 1rem;
    padding: 2px;
    border: 2px solid var(--color-1);
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
    appearance: none;
    text-align: center;
}

.genre-select:hover {
    background-color: var(--color-7);
}

.genre-select:focus {
    background-color: var(--color-7);
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
    max-width: 1680px;
    margin: 0 auto;
}

.movies-container div {
    width: 18%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem 1rem;
    background-color: var(--color-8);
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
}

.movies-container div img {
    max-width: 100%;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 0.5rem;
}

.movies-container div svg {
    padding-top: 0.18rem;
    color: var(--color-1);
    border-color: var(--color-7);
}

.release-date {
    font-style: italic;
}

/* Breakpoints */

@media screen and (max-width: 480px) {

    .title {
        font-size: 1.7rem;
    }

    .movies-container {
        padding: 0.5rem 1rem 0 1rem;
        max-width: 480px;
        margin: 0 auto;
    }
    
    .movies-container div {
        width: 100%;
        margin-bottom: 1rem;
    }

}

@media screen and (min-width: 481px) and (max-width: 912px) {

    .movies-container {
        max-width: 912px;
    }
    
    .movies-container div {
        width: 30%;
    }

}