#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-7);
    padding: 1.5rem 0;
}

#footer h2 a {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

#footer p {
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
}