#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: var(--color-7);
}

#navbar h2 a {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

#navbar form {
    display: flex;
    gap: 0.35rem;
}

#navbar input {
    padding: 0.2rem 0.4rem;
    border-color: var(--color-1);
    border-radius: 8px;
    color: var(--color-3);
    background-color: var(--color-7);
}

#navbar form button {
    background-color: var(--color-1);
    border: 2px solid var(--color-1);
    border-radius: 8px;
    color: var(--color-2);
    padding: 0.15rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    transition: 0.35s;
}

#navbar form button:hover {
    background-color: var(--color-4);
}

.pages {
    display: flex;
    align-items: center;
    gap: 13vw;
}

@media screen and (max-width: 480px) {

    #navbar {
        flex-direction: column;
        justify-content: baseline;
        gap: 0.75rem;
        padding: 1rem 1rem;
        background-color: var(--color-7);
    }

    #navbar h2 a {
        font-size: 1.75rem;
        justify-content: center;
    }

    .pages {
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
    }

    .pages h3 {
        font-size: 1.25rem;
    }

}

@media screen and (min-width: 481px) and (max-width: 912px) {

    #navbar h2 a {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
    }

    .pages h3 {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 913px) and (max-width: 1679px) {

    #navbar h2 a {
        font-size: 1.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
    }

    .pages h3 {
        font-size: 1.25rem;
    }

}